header div{
    display: flex;
    justify-content: space-between;
}

main{
    width: 80%;
    text-align: center;
    margin: auto;
}

main p{
    width: 80%;
    text-align: center;
    margin: auto;
}

.btn{
    padding: 10px;
    margin: 20px;
    background-color: purple;
    color: gainsboro;
    border-radius: 15%;
}

.btn:hover{
    background-color: rgb(218, 65, 91);
    color: lime;
}

.answer-option{
    margin: 0;
}

a{
    text-decoration: none;
}

form{
    margin: 20px;
}

ul{
    list-style-type: none;
    padding: 0; 
    display: block;
    text-align: left;
}

ul li{
    padding-left: 15%;
}



